/** 
* @name NewUP 
* @author lime_rt#5967 
* @version 0.0.1 
* @description None 
* @source https://github.com/GoLire-CSS/NewUp
* @authorId 793866216769847296 
*/

@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://commandcrafterhd.github.io/Fallout4TerminalTheme/mainRewrite.css');

/* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
/* @import url("https://discordstyles.github.io/HorizontalServerList/bottomhsl.css"); */
:root {
  --HSL-server-icon-size: 40px; /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px; /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
  --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */
}

:root {
  --rgb-background: 0, 9, 0; /* The main background color *//
